<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/">Flight Search Engine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a *ngIf="(isLoggedIn == 'true')" routerLink='/myProfile' class="nav-link" >My Profile</a>
            </li>
            <li *ngIf="isAdmin=='true'" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin Function
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a  routerLink="/create" class="dropdown-item" >Create Flights</a>
                    </li>
                    <li class="nav-item">
                        <a  routerLink="/usersManagement" class="dropdown-item" >Manage Users</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class ="d-flex justify-content-end">
            <a *ngIf="(isLoggedIn == null)" routerLink='/login' routerLinkActive="router-link-active" ="/login" class="btn btn-primary ">Login</a>
            <button class = "btn btn-outline-danger " (click)="LogOut()" *ngIf="(isLoggedIn == 'true')">Logout</button>
        </div>
      </div>
      
    </div>
  </nav>
